<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DALAssetDotNet.Properties.Settings.pepsConnectionString"
      connectionString="Data Source=pizzix-game-pc\SQLEXPRESS;Initial Catalog=peps;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>